.carousel-slide {
    animation: carousel-slide 12s ease-in-out infinite;
    position: relative;
    display: flex;
}

@keyframes carousel-slide {
    0% {
        left: 0;
    }
    27%{ 
        left: 0;
    }
    30% {
        left: -22rem;
    }
    33%  {
        left: -20rem;
    }
    60%{ 
        left: -20rem;
    }
    63% {
        left: -42rem;
    }
    66%  {
        left: -40rem;
    }
    93%{ 
        left: -40rem;
    }
    96% {
        left: -62rem;
    }
    99%  {
        left: -60rem;
    }
}