$primary: hsl(159, 60%, 28%);
$secondary: #abbac9;
$danger: #b05f21;
$info: #21b0a2;
$dark: #232c33;
$warning: #b08821;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

:root {
    --bs-body-color: var(--bs-dark);
}

html,
body,
#root {
    height: 100%;
}

hr {
    --bs-border-width: 5px;
    opacity: 1;
    border-radius: 3rem;
}

a {
    text-decoration: none;
}

body {
    background: url('/bg.png') var(--bs-light);

    &::-webkit-scrollbar {
        background-color: var(--bs-light);
        width: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--bs-dark);
        border-radius: 1px;
    }
}

.fs-18 {
    font-size: 18pt;
}

.fs-16 {
    font-size: 16pt;
}

.fs-14 {
    font-size: 14pt;
}

.fs-12 {
    font-size: 12pt;
}

.fs-10 {
    font-size: 10pt;
}

.fs-8 {
    font-size: 8pt;
}

.logo {
    background: var(--bs-light);
    border-radius: 25%;
}

.hoverable {
    &:hover {
        outline: solid rgba(var(--bs-primary-rgb), 0.3) 4px;
        z-index: 1;
        cursor: pointer;
    }
}

.calendar-day {
    aspect-ratio: 3/2;

    &.active {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
        aspect-ratio: unset;
        background-color: rgba(var(--bs-primary-rgb), 0.2);
        padding: 1.5rem;
        backdrop-filter: blur(2px);
    }
}

.full-page {
    height: 100vh;
    height: 100dvh;
    overflow-y: auto;
    scroll-snap-align: start;
}

html,
body {
    height: 100%;
}

.route-- {
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;

    .page-footer {
        display: none !important;
    }
}
